
body {
  background-color: rgb(15, 15, 15);
  min-height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
}
.row{
  justify-content: center;
 align-content: space-around;
}
 h1 {
  font-family: 'Bungee Shade', cursive;
  color: rgb(228,156,62);
  font-size: 8rem;
 }
 h2 {
  font-family: 'Bungee Shade', cursive;
   font-size: 3rem;
   color: rgb(228,156,62);
 }
 .burgerForm {
   font-size: 4rem;
   color: rgb(228,156,62);
 }
li {
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  border: double 5px;
  padding: 5px;
  margin: 5px;
  background: #e49c3e;
  max-width: 20rem;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
#makeBurger {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(228,156,62);
}

.burgerLi {
  font-size: 2.5rem;
}
.change-devoured {
  -moz-box-shadow: 0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow: 0 0 10px #000000;
  font-size: 1.5rem;
}
.delete-burger {
  -moz-box-shadow: 0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow: 0 0 10px #000000;
  font-size: 1.5rem;
}
.navbar-brand {
  font-family: 'Federo', sans-serif;
}
.navbar {
  margin-top: 20px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgb(240, 240, 240);
}
.navbar-light .navbar-brand{
  color: rgb(240, 240, 240);
}
.navbar-light .navbar-nav .active>.nav-link {
  color: rgb(240, 240, 240);
} 

